{{ define "main" }}
  {{ "<!-- begin: layouts/_default/list.html -->" | safeHTML }}
  <div class="home">
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
    <p>{{ .Content }}</p>

    {{ range .Paginator.Pages }}
      <div class="post-list-grid">
        <span>
          {{- .Date.Format "Jan 02, 2006" -}}
        </span>
        <a href="{{- .RelPermalink -}}">
          {{- .Title -}}
        </a>
        <span class="post-list-muted">{{ .ReadingTime }} min read</span>
        <span class="post-list-taxonomies">
          {{ range first 3 (.GetTerms "categories") }}
            <span class="tag">
              <a href="{{- .RelPermalink -}}">
                {{ .Title }}
              </a>
            </span>
          {{ end }}
        </span>
      </div>
      <p></p>
    {{ end }}

    {{ partial "pagination" . }}

  </div>
  {{ "<!-- begin: layouts/_default/list.html -->" | safeHTML }}
{{ end }}
